<mat-toolbar style="background-color: #e3f2fd;" class="navbar">
  <span class="navbar-brand">NEPTUN</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/acceso" routerLinkActive="active">Inicio</button>
  <button mat-button routerLink="/inscipsion" routerLinkActive="active">Inscripcion</button>
  <button mat-button routerLink="/Mantenimiento" routerLinkActive="active">Mantenimiento</button>
  <button mat-button routerLink="/Ventas" routerLinkActive="active">Ventas</button>
  <button mat-button routerLink="/Reportes" routerLinkActive="active">Reportes</button>
  <button mat-button routerLink="/Mosse" routerLinkActive="active">Mosse</button>
</mat-toolbar>

<router-outlet></router-outlet>